@font-face {
  font-family: 'Mtavruli_Bold';
  src: url('../fonts/bpg-nino-mtavruli/bpg-nino-mtavruli-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bpg-nino-mtavruli/bpg-nino-mtavruli-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bpg-nino-mtavruli/bpg-nino-mtavruli-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bpg-nino-mtavruli/bpg-nino-mtavruli-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bpg-nino-mtavruli/bpg-nino-mtavruli-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bpg-nino-mtavruli/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Arial_Caps';
  src: url('../fonts/bpg-arials-caps/bpg-arial-caps-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bpg-arials-caps/bpg-arial-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bpg-arials-caps/bpg-arial-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bpg-arials-caps/bpg-arial-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bpg-arials-caps/bpg-arial-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bpg-arials-caps/bpg-arial-caps-webfont.svg#bpg_arial_capsregular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bpg_nino_mtavruli_elite';
  src: url('../fonts/bpg-nino-elite/bpg-nino-mtavruli-bold-bl-edition-webfont.eot');
  src: url('../fonts/bpg-nino-elite/bpg-nino-mtavruli-bold-bl-edition-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bpg-nino-elite/bpg-nino-mtavruli-bold-bl-edition-webfont.woff') format('woff'),
       url('../fonts/bpg-nino-elite/bpg-nino-mtavruli-bold-bl-edition-webfont.ttf') format('truetype'),
       url('../fonts/bpg-nino-elite/bpg-nino-mtavruli-bold-bl-edition-webfont.svg#bpg_nino_mtavruli_elite') format('svg');
  font-weight: normal;
  font-style: normal;

}
