.bg {
  &__ball {
    background: url("../../../assets/img/bg-ball.png") no-repeat center center
      fixed;
  }
  &__dollar {
    background: url("../../../assets/img/bg-dollar.png") no-repeat center center
      fixed;
  }
  &__bell {
    background: url("../../../assets/img/bg-bell.png") no-repeat center center
      fixed;
  }
  &__clover {
    background: url("../../../assets/img/bg-clover.png") no-repeat center center
      fixed;
  }
  &__ice {
    background: url("../../../assets/img/bg-ice.png") no-repeat center center
      fixed;
  }
  &__watermelon {
    background: url("../../../assets/img/bg-watermeloon.png") no-repeat center center
      fixed;
  }
  &__skull {
    background: url("../../../assets/img/bg-skull.png") no-repeat center center
      fixed;
  }
}
